body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
}

#hero-picture{
    height: 500px;
    width: 350px;
}

#project img{
    width: 350px;
    height: 250px;
}

#techstack h1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.foto1{
    width: 200px;
    height: 200px;
    margin-top: 40px;
}

#footer{
    margin-top: 80px;
}